lokanhomepage:
    secret_key: {{ secret_key }}
    debug: {{ debug }}
    template_debug: {{ template_debug }}
    allowed_hosts: {{ allowed_hosts }}
    extra_installed_apps: {{ extra_installed_apps }}
    extra_middleware_classes: {{ extra_middleware_classes }}
    database:
        engine: {{ database_engine }}
        name: {{ database_name }}
        user: {{ database_user }}
        password: {{ database_password }}
        host: {{ database_host }}
        port: {{ database_port }}
    gmail:
        user: {{ gmail_user }}
        password: {{ gmail_password }}
